{# views/settings/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	{% include 'page/alerts.html.twig' %}
	<div class="container-fluid">
		<h1>Moje adresy</h1>
		{% if user_adressess == false %}
			<div class="alert alert-info" role="alert">
				Nie dodałeś jeszcze żadnego adresu
			</div>
		{% else %}
			<div class="table-responsive">
				<table class="table">
					<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nazwa</th>
						<th scope="col">Miasto</th>
						<th scope="col">Ulica</th>
						<th scope="col">Numer domu</th>
						<th scope="col">Kod pocztowy</th>
						<th scope="col">Adres główny</th>
						<th scope="col">Operacja</th>
					</tr>
					</thead>
					<tbody>
					{% set itemNr = 1 %}
					{% for item in user_adressess %}
						<tr>
							<td scope="row">{{ itemNr }}</td>
							{% set itemNr = itemNr + 1 %}
							<td>{{ item.name }}</td>
							<td>{{ item.city }}</td>
							<td>{{ item.street }}</td>
							<td>{{ item.home }}</td>
							<td>{{ item.postal_code }}</td>
							<td>{% if item.main_address == 0 %}Nie{% else %}Tak{% endif %}</td>
							<td>
								{% set itemId = item.id_address %}
								{% if 'ustawienia:adres_edytuj' in dostepneStrony %}<a href="{{ base_url('ustawienia/adres_edytuj/') }}{{ itemId }}" role="button" class="btn btn-primary btn-sm">Edytuj adres <i class="fas fa-edit"></i></a>{% endif %}
								{% if item.main_address == 0 %}<form action="{{ base_url('ustawienia/adres_edytuj/') }}{{ itemId }}" method="post"><input id="addressID" name="addressID" value="{{ itemId }}" hidden><input id="main_address" name="main_address" value="1" hidden><button type="submit" class="btn btn-primary btn-sm">Ustaw jako główny <i class="fas fa-home"></i></button></form>{% endif %}
								<form action="{{ base_url('ustawienia/adres_usun/') }}{{ itemId }}" method="post"><input id="addressID" name="addressID" value="{{ itemId }}" hidden><button type="submit" class="btn btn-primary btn-sm">Usuń <i class="fas fa-minus-circle"></i></button></form>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>
	<hr/>
	<a href="{{ base_url('ustawienia/index') }}" role="button" class="btn btn-primary btn-sm">Ustawienia <i class="fas fa-cogs"></i></a>
	<a href="{{ base_url('ustawienia/adres_dodaj') }}" role="button" class="btn btn-primary btn-sm">Dodaj adres <i class="fas fa-plus-circle"></i></a>
{% endblock %}
