{# views/ogloszenia/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	{% include 'page/alerts.html.twig' %}
	<div class="container-fluid">
		<h2>Kategorie</h2>

		<div class="d-flex flex-row flex-wrap">
			<a href="{{ base_url('ogloszenia/all') }}" class="border p-2 w-50 list-group-item-action">
				Wszystkie
			</a>
			{% for kategoria in dostepne_kategorie %}
				<a href="{{ base_url('ogloszenia/all') }}/{{ kategoria.id_category }}" class="border p-2 w-50 list-group-item-action">
					{{ kategoria.category_name }}
				</a>
			{% endfor %}
		</div>

		<h1>Ogłoszenia{% if category_info %} - {{ category_info.category_name }}{% endif %}</h1>
		{% if ads == false %}
			<div class="alert alert-info" role="alert">
				Brak ogłoszeń w tej kategorii, spróbuj wybrać inną
			</div>
		{% else %}
			{% for ad in ads %}
				<div class="blog-card{% if ad.accept == 0 %} alt{% endif %}">
					<div class="meta">
						<div class="photo" style="background-image: url({{ base_url('uploads/') }}{{ ad.main_image }})"></div>
						<ul class="details">
							<li class="date">{{ ad.create_time }}</li>
						</ul>
					</div>
					<div class="description">
						<h1>{{ ad.offer_name }}</h1>
						<p> {{ ad.description }}</p>
						<p class="read-more">
							<a role="button" href="{{ base_url('ogloszenia/ad/') }}{{ ad.id_offer }}">Podgląd ogłoszenia</a>
						</p>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
