{# views/ogloszenia/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	{% include 'page/alerts.html.twig' %}
	<div class="container-fluid">
		<h1>Twoje zakończone ogłoszenia</h1>
		<style>
			.center-cropped {
				width: 350px;
				height: 250px;
				overflow: hidden;
				margin: auto;
				display: block;
			}
		</style>
		{% if my_ads == false %}
			<div class="alert alert-info" role="alert">
				Nie ma ogłoszeń które zostały zakończone ;)
			</div>
		{% else %}
			{% for my_ad in my_ads %}
				<div class="blog-card{% if my_ad.accept == 0 %} alt{% endif %}">
					<div class="meta">
						<div class="photo" style="background-image: url({{ base_url('uploads/') }}{{ my_ad.main_image }})"></div>
						<ul class="details">
							<li class="author"><a href="#">Ty</a></li>
							<li class="date">{{ my_ad.create_time }}</li>
							<li class="tags"><a href="{{ base_url('ogloszenia/edycja/') }}{{ my_ad.id_offer }}">Edytuj ogłoszenie</a></li>
							<li class="tags"><a href="{{ base_url('ogloszenia/statystyki/') }}{{ my_ad.id_offer }}">Statystyki ogłoszenia</a></li>
							<li class="tags"><a href="{{ base_url('ogloszenia/zakoncz/') }}{{ my_ad.id_offer }}">Zakończ ogłoszenie</a></li>
						</ul>
					</div>
					<div class="description">
						<h1>{{my_ad.offer_name}}</h1>
						<h2>{{my_ad.category_path}}</h2>
						<p> {{ my_ad.description }}</p>
						<p class="read-more">
							<a role="button" href="{{ base_url('ogloszenia/ad/') }}{{ my_ad.id_offer }}">Podgląd ogłoszenia</a>
						</p>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
