

<nav class="navbar navbar-light mb-4 navbar-expand-lg">
	<a href="{{ site_url('home') }}" class="navbar-brand">Ogłoszenia *</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarContent">
		<ul class="navbar-nav mr-auto">
			{% if 'mojportfel' in dostepneStrony %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						Mój portfel
					</a>
					<div class="dropdown-menu">
						{% if 'mojportfel:index' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('mojportfel/index') }}">Podgląd salda</a>{% endif %}
						{% if 'mojportfel:wplata' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('mojportfel/wplata') }}">Wpłać środki</a>{% endif %}
						{% if 'mojportfel:historia' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('mojportfel/historia') }}">Historia transakcji</a>{% endif %}
					</div>
				</li>
			{% endif %}
			{% if 'uzytkownicy' in dostepneStrony %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						Użytkownicy
					</a>
					<div class="dropdown-menu">
						{% if 'uzytkownicy:index' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('uzytkownicy/index') }}">Podgląd</a>{% endif %}
					</div>
				</li>
			{% endif %}
			{% if 'ogloszenia' in dostepneStrony %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						Ogłoszenia
					</a>
					<div class="dropdown-menu">
						{% if 'ogloszenia:index' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('ogloszenia/index') }}">Moje ogłoszenia</a>{% endif %}
						{% if 'ogloszenia:noweogloszenie' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('ogloszenia/noweogloszenie') }}">Dodaj ogłoszenie</a>{% endif %}
						{% if 'ogloszenia:moderacja_index' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('ogloszenia/moderacja_index') }}">Moderacja ogłoszeniami</a>{% endif %}
					</div>
				</li>
			{% endif %}
			{% if 'rozmowy' in dostepneStrony %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						Wiadomości
					</a>
					<div class="dropdown-menu">
						{% if 'rozmowy:index' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('rozmowy/index') }}">Aktualne rozmowy</a>{% endif %}
						{% if 'rozmowy:historia' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('rozmowy/historia') }}">Archiwum rozmów</a>{% endif %}
					</div>
				</li>
			{% endif %}
			{% if 'ustawienia' in dostepneStrony %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						Ustawienia
					</a>
					<div class="dropdown-menu">
						{% if 'ustawienia:index' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('ustawienia/index') }}">Podgląd ustawień</a>{% endif %}
						{% if 'ustawienia:adresy' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('ustawienia/adresy') }}">Moje adresy</a>{% endif %}
						{% if 'ustawienia:logowanie' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('ustawienia/logowanie') }}">Ustawienia logowania</a>{% endif %}
						<!---{% if 'ustawienia:daneosobowe' in dostepneStrony %}<a class="dropdown-item" href="{{ site_url('ustawienia/daneosobowe') }}">Moje dane osobowe</a>{% endif %}-->
					</div>
				</li>
			{% endif %}
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search">
			<button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
		</form>
		{% if user %}
			<ul class="navbar-nav">
				<li class="nav-item dropleft">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
						{{  user.username }}
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item">Zalogowany jako: {{ nazwaRangi }}</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ site_url('login/logout') }}">Wyloguj się</a>
					</div>
				</li>
			</ul>
		{% else %}
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ site_url('login') }}">Zaloguj się</a>
				</li>
			</ul>
		{% endif %}

	</div>
</nav>
