{# views/chat/index.html.twig #}

{% extends 'base.html.twig' %}

{% block css_scripts %}
	<link rel="stylesheet" href="{{ base_url('css/chat.css') }}"/>
{% endblock %}
{% block js_scripts %}
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
{% endblock %}

{% block body %}
	{% include 'page/alerts.html.twig' %}
	<div class="messaging">
		<div class="inbox_msg">
			<div class="inbox_people">
				<div class="headind_srch">
					<div class="recent_heading">
						<h1>Aktualne rozmowy</h1>
					</div>
				</div>
				<div class="inbox_chat">
					{% if aktualne_rozmowy == false %}
						<div class="alert alert-info" role="alert">
							Aktualnie nie prowadzisz żadnych rozmów ;)
						</div>
					{% else %}
						{% for aktualna_rozmowa in aktualne_rozmowy %}
							<div class="chat_list active_chat">
								<div class="chat_people">
									<div class="chat_ib">
										<h5>{{ aktualna_rozmowa.username }}, ogłoszenie
											"{{ aktualna_rozmowa.offer_name }}"</h5>
									</div>
									<a role="button" class="btn btn-primary"
									   href="{{ base_url('rozmowy/index') }}/{{ aktualna_rozmowa.user_from }}/{{ aktualna_rozmowa.id_offer }}">Przejdź
										do rozmowy</a>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="mesgs">
				{% if segments.offer_id != 0 %}
					<div id="root"></div>
				{% else %}
					<h1>Wybierz rozmowę z menu po lewej</h1>
				{% endif %}
			</div>
		</div>
		<hr/>
		<script type="text/babel">
			class ButtonSend extends React.Component {
				constructor(props) {
					super(props);
					this.state = {
						msg: ''
					};
					this.handleChange = this.handleChange.bind(this);
					this.handleClick = this.handleClick.bind(this);
				}

				handleChange(event) {
					const value = event.target.value;
					this.setState({
						...this.state,
						[event.target.name]: value
					});
				}

				handleClick() {
					console.log(this.state.msg);
					let formData = new FormData();
					formData.append('msg', this.state.msg);
					formData.append('user_id', {{ segments.user_id }});
					formData.append('offer_id', {{ segments.offer_id }});

					fetch('{{ base_url('rozmowy/post_message') }}',
							{
								body: formData,
								method: "post"
							}
					);
					this.setState({
						msg: ''
					});
				}

				render() {
					return (
							<div className="type_msg">
								<div className="input_msg_write">
									<input onChange={this.handleChange} value={this.state.msg} name="msg" type="text"
										   className="write_msg" placeholder="Wprowadź wiadomość"/>
									<button onClick={this.handleClick} className="msg_send_btn" type="button"><i
											className="fa fa-paper-plane-o" aria-hidden="true"/></button>
								</div>
							</div>
					)
				}
			}

			function List(props) { // Element odpowiedzialny za widok pojedynczej wiadomości,
				var chat_msg;
				var fromUser = 1 == props.value.reply;
				if (props.value.id_user == props.user_id) {
					fromUser = !fromUser;
				}
				if (fromUser) {
					chat_msg = <div className="outgoing_msg sent_msg"><p>{props.value.text}</p><span
							className="time_date">{props.value.time}</span></div>;
				} else {
					chat_msg =
							<div className="incoming_msg received_msg received_withd_msg"><p>{props.value.text}</p><span
									className="time_date">{props.value.time}</span></div>;
				}
				return chat_msg;
			}

			class ListChat extends React.Component {
				constructor(props) {
					super(props);
					this.state = {msgs: [], loading: true};
					this.user_id = {{ user.id }};
				}

				componentDidMount() {
					/*
						Odczyt wiadomości w formacie JSON, co sekundę, tak samo co sekundę będzie re-renderowany widok wiadomości
					 */
					setInterval(() => {
						fetch('{{ base_url('rozmowy/get_messeges') }}/{{ segments.user_id }}/{{ segments.offer_id }}')
								.then(res => res.json())
								.then(json => this.setState({msgs: json, loading: false}));
					}, 1000);
				}

				render() {
					if (this.state.loading) return <div>Ładowanie wiadomości...</div>;
					const productsList = this.state.msgs.map((product, key) => {
						return (
								<List value={product} key={key} user_id={this.user_id}/>
						)
					});

					return (
							<div className="msg_history">{productsList}</div>
					);
				}
			}

			ReactDOM.render(
					<div><ListChat/><ButtonSend/></div>,
					document.getElementById('root')
			);

		</script>
	</div>
	<hr/>
{% endblock %}
