{# views/users/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	{% include 'page/alerts.html.twig' %}
	{% if findUser %}
		<div class="container-fluid">
			<h1>Edytuj użytkownika</h1>
			<form method="post">
				<input id="userID" name="userID" value="{{ findUser.id }}" hidden>
				<div class="form-group">
					<label for="username">Nazwa użytkownika</label>
					<input type="text" class="form-control{% if errors.username %} is-invalid{% endif %}" id="username" name="username" placeholder="{{ findUser.username }}">
					{% if errors.username %}<div class="invalid-feedback">{{ errors.username }}</div>{% endif %}
				</div>
				<div class="form-group">
					<label for="email">Adres E-mail</label>
					<input type="email" class="form-control{% if errors.email %} is-invalid{% endif %}" id="email" name="email" placeholder="{{findUser.email}}">
					{% if errors.email %}<div class="invalid-feedback">{{ errors.email }}</div>{% endif %}
				</div>
				<div class="form-group">
					<label>Zbanowany?</label>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="banned" id="banned" value="0" {% if findUser.banned == 0 %}checked{% endif %}>
						<label class="form-check-label" for="banned">Nie</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="banned" id="banned" value="1" {% if findUser.banned == 1 %}checked{% endif %}>
						<label class="form-check-label" for="banned">Tak</label>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Zatwierdź</button>
			</form>
			<hr/>
			<a href="{{ base_url('uzytkownicy/index') }}" role="button" class="btn btn-primary btn-sm">Wszyscy użytkownicy <i class="fas fa-users"></i></a>
			{% if 'uzytkownicy:uprawnienia' in dostepneStrony %}<a href="{{ base_url('uzytkownicy/uprawnienia/') }}{{ findUser.id }}" role="button" class="btn btn-primary btn-sm">Uprawnienia użytkownika [{{ findUser.username }}] <i class="fas fa-universal-access"></i></a>{% endif %}
		</div>
	{% endif %}
{% endblock %}
